elasticsearch-dsl~=7.4
elasticsearch~=7.17
pathlib~=1.0
detoxify~=0.5.0
fasttext~=0.9.3
torch~=2.4
numpy~=1.25
ipykernel~=6.29
seaborn
resiliparse
pyyaml
pyarrow
pyarrow-stubs
datasets
ray[default,data]
python-dotenv
transformers
ray-elasticsearch~=0.2.4
