elasticsearch-dsl==7.4.0
elasticsearch==7.17.9
pathlib==1.0.1
detoxify==0.5.0
fasttext==0.9.3
torch==2.4.1
numpy==1.26.0
ipykernel==6.29.5
seaborn
resiliparse
pyyaml
git+https://github.com/huggingface/transformers.git